name: Test widgets and wallets integration
on:
  pull_request:
  workflow_dispatch:
    inputs:
      notify:
        description: 'Notify about test results to the discord channel'
        required: false
        default: false
        type: boolean
  schedule:
     - cron: '0 */6 * * *'

jobs:
  test:
    name: Testing
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3
        with:
          persist-credentials: false
      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: '20'
          cache: 'yarn'
      - name: Debug cache key (SHA-256)
        run: |
          echo "Runner OS: $RUNNER_OS"
          HASH=$(sha256sum yarn.lock | cut -d ' ' -f1)
          echo "Cache key will be: $RUNNER_OS-node-modules-$HASH"
      - name: Cache node_modules
        uses: actions/cache@v3
        with:
          path: node_modules
          key: ${{ runner.os }}-node-modules-${{ hashFiles('**/yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-node-modules-
      - name: Install dependencies
        run: yarn install --immutable
      - name: Run lint
        run: yarn lint
      - name: Build Components
        run: yarn build

      - name: Install Playwright Browsers
        run: yarn playwright install chromium --with-deps

      - name: Run wallets tests
        run: xvfb-run --auto-servernum -- yarn test:widgets
        working-directory: wallets-testing
        env:
          RPC_URL: ${{ secrets.RPC_URL }}
          WALLET_SECRET_PHRASE: ${{ secrets.WALLET_SECRET_PHRASE }}
          WALLET_PASSWORD: ${{ secrets.WALLET_PASSWORD }}
          NODE_OPTIONS: --max-old-space-size=4096

      - uses: actions/upload-artifact@v4
        if: ${{ always() }}
        with:
          name: playwright-report
          path: wallets-testing/playwright-report/
          retention-days: 7

      - name: Set embeds
        if: ${{ always() }}
        working-directory: wallets-testing
        run: |
          EMBEDS=$(cat embeds.json | jq -c .embeds)
          echo "EMBEDS=$EMBEDS" >> $GITHUB_ENV

      - name: Discord notification when fails (include mentions)
        if: ${{ failure() && (github.event_name == 'schedule' || inputs.notify) }}
        uses: lidofinance/action-discord@0.3.2
        with:
          args: "<@&1118836223495131167> please take a look at the test results"
        env:
          DISCORD_WEBHOOK: ${{ secrets.DISCORD_WEBHOOK }}
          DISCORD_EMBEDS: ${{ env.EMBEDS }}

      - name: Discord notification when success
        if: ${{ success() && (github.event_name == 'schedule' || inputs.notify) }}
        uses: lidofinance/action-discord@0.3.2
        env:
          DISCORD_WEBHOOK: ${{ secrets.DISCORD_WEBHOOK }}
          DISCORD_EMBEDS: ${{ env.EMBEDS }}
